<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ravlinlo_Blog::content_elements"
             title="Ravlinlo Blog"
             translate="title"
             module="Ravlinlo_Blog"
             sortOrder="15"
             parent="Magento_Backend::content"
             resource="Magento_Backend::admin"/>
        <add id="Ravlinlo_Blog::post"
             title="Manage Posts"
             translate="title"
             module="Ravlinlo_Blog"
             sortOrder="0"
             parent="Ravlinlo_Blog::content_elements"
             action="rav_blog/post"
             resource="Magento_Backend::admin"/>
    </menu>
</config>
